<style>
a {
  text-decoration: none;
  color: inherit;
}
.tab {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.tab__item {
  padding: 0.6rem 1.3rem;
  margin-right: 1rem;
  border: 1px solid #ddd;
  border-radius: 2rem;
}
.tab__item.active {
  display: inline-block;
  border: 1px solid #b81c0f;
  background-color: #b81c0f;
  color: #fff;
}
.tab__content-wrapper {
  padding: 1rem
}
.tab__content {
  display: none;
}
.tab__content.active {
  display: block;
}

</style>

<html>

<ul class="tab">
  <li class="tab__item active">
    <a href="#tab1">Tab 1</a>
  </li>
  <li class="tab__item">
    <a href="#tab2">Tab 2</a>
  </li>
  <li class="tab__item">
    <a href="#tab3">Tab 3</a>
  </li>
</ul>

<!-- 탭 내용 영역 -->
<div class="tab__content-wrapper">
  <div id="tab1" class="tab__content active">
  
  
  		 <div class="mt-2.5">
	     	<div id="message" rows="4" class="block w-full rounded-md border-0 px-3.5 py-2 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
	     	
	     	<a th:utext=${lodge.linfo}></a>
	     	
	     	</div>
	    </div>
  
  
  </div>
  
  

</div>
  
  <div id="tab2" class="tab__content">
  
  
  
      <div id="rvCmt" class="row_txtArea">   
	<form th:action="@{|/review/rvcreate/${lodge.lnum}|}"method="post"> 
            <label for="comment">작성 글자 제한</label>
            <span class="ipt_msg txtLen" id="ipt_msg_txtLen"><strong>0</strong>/200</span>
            <textarea id="comment" name="rcontent" autocomplete="off"></textarea>          
        <input type="submit" value="리뷰등록">
    </form>
    
    
    
    
    
    </div>
  
  등록된 리뷰 보기
  
  
  <div class="my-3 p-3 bg-white rounded shadow-sm" style="padding-top: 10px">

<div id="comments-list">

	<th:block th:each="review : ${lodge.reviewList}">
  
			[[${review.rnum}]] _ [[${review.username}]] _ [[${review.rcontent}]]<br>

	</th:block>

</div> 
  
  
  
  </div>
  
  
  
  <div id="tab3" class="tab__content">
  
  
  		 <div class="mt-2.5">
 			<div id="message" rows="4" class="block w-full rounded-md border-0 px-3.5 py-2 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">[[${lodge.notice}]]</div>
		</div>
  
  
  
  </div>






</div>




<script>
// 1. 탭 버튼과 탭 내용 부분들을 querySelectorAll을 사용해 변수에 담는다.
const tabItem = document.querySelectorAll(".tab__item");
const tabContent = document.querySelectorAll(".tab__content");

// 2. 탭 버튼들을 forEach 문을 통해 한번씩 순회한다.
// 이때 index도 같이 가져온다.
tabItem.forEach((item, index) => {
  // 3. 탭 버튼에 클릭 이벤트를 준다.
  item.addEventListener("click", (e) => {
    // 4. 버튼을 a 태그에 만들었기 때문에, 
    // 태그의 기본 동작(링크 연결) 방지를 위해 preventDefault를 추가한다.
    e.preventDefault(); // a 
    
    // 5. 탭 내용 부분들을 forEach 문을 통해 한번씩 순회한다.
    tabContent.forEach((content) => {
      // 6. 탭 내용 부분들 전부 active 클래스를 제거한다.
      content.classList.remove("active");
    });

    // 7. 탭 버튼들을 forEach 문을 통해 한번씩 순회한다.
    tabItem.forEach((content) => {
      // 8. 탭 버튼들 전부 active 클래스를 제거한다.
      content.classList.remove("active");
    });

    // 9. 탭 버튼과 탭 내용 영역의 index에 해당하는 부분에 active 클래스를 추가한다.
    // ex) 만약 첫번째 탭(index 0)을 클릭했다면, 같은 인덱스에 있는 첫번째 탭 내용 영역에
    // active 클래스가 추가된다.
    tabItem[index].classList.add("active");
    tabContent[index].classList.add("active");
  });
});
</script>
</html>