<html layout:decorate="~{layout}">


<div layout:fragment="content">

<!-- 	<link rel="apple-touch-icon" type="image/png"
		href="https://cpwebassets.codepen.io/assets/favicon/apple-touch-icon-5ae1a0698dcc2402e9712f7d01ed509a57814f994c660df9f7a952f3060705ee.png" />
	<meta name="apple-mobile-web-app-title" content="CodePen">
	<link rel="shortcut icon" type="image/x-icon"
		href="https://cpwebassets.codepen.io/assets/favicon/favicon-aec34940fbc1a6e787974dcd360f2c6b63348d4b1f4e06c77743096d55480f33.ico" />
	<link rel="mask-icon" type="image/x-icon"
		href="https://cpwebassets.codepen.io/assets/favicon/logo-pin-b4b4269c16397ad2f0f7a01bcdf513a1994f4c94b8af2f191c09eb0d601762b1.svg"
		color="#111" />
	<script
		src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>
	<link rel="canonical" href="https://codepen.io/8happyhee/pen/KKBEEXQ">
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->



<style>
a {
	text-decoration: none;
	color: inherit;
}

.tab {
	display: flex;
	align-items: center;
	padding: 1rem;
	list-style-type: none;
}

.tab__item {
	padding: 0.6rem 1.3rem;
	margin-right: 1rem;
	border: 1px solid #ddd;
	border-radius: 2rem;
	cursor: pointer;
}

.tab__item.active {
  display: inline-block;
  border: 1px solid #83a4ff;
  background-color: #83a4ff;
  color: #fff;
}

.tab__content-wrapper {
	padding: 1rem;
}

.tab__content {
	display: none;
}

.tab__content.active {
	display: block;
}

#linfo, #notice {
	border : 1px solid  #83a4ff;
}

</style>


<div class="hero hero-inner">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-6 mx-auto text-center">
				<div class="intro-wrap">

					<h1 class="mb-0">나에게 맞는 숙소 찾기</h1>

					<p class="text-white">축제와 가깝고 편한 숙소를 소개합니다</p>
				</div>
			</div>
		</div>
	</div>
</div>


	<div class="container mt-4">
		<div class="row">
			<div class="col-md-3">
				<div class="filter-container"></div>
			</div>
		</div>
	</div>


<!-- 숙소 사진, 지도 위치 -->
<div class="untree_co-section">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 mb-5 mb-lg-0">
				<form class="contact-form" data-aos="fade-up" data-aos-delay="200">
					<div class="row">
					

					<img th:src="@{|${downpath}/${lodge.accomm}|}">
					
					</div>
				</form>
			</div>

			<div class="col-lg-5 ml-auto">
				<div class="quick-contact-item d-flex align-items-center mb-4">

					<form>내부이미지</form>

				</div>
				<div class="quick-contact-item d-flex align-items-center mb-4">

					<form>내부이미지2</form>

				</div>
				<div class="quick-contact-item d-flex align-items-center mb-4">

					<form>지도</form>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- 하단 옵션 -->
<div class="album py-5">
	<div class="container">
		<div class="container2">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3"></div>

			<ul class="tab">
				<li class="tab__item active" id="linfo">숙소 소개</li>
				<li class="tab__item" id="review">리뷰보기</li>
				<li class="tab__item" id="notice">안내 사항</li>
			</ul>
			
<!-- 탭 내용 영역 -->
	<div class="tab__content-wrapper">
		<div id="linfo" class="tab__content active">
		
		 <div class="mt-2.5">
	     	<div id="message" rows="4" class="block w-full rounded-md border-0 px-3.5 py-2 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
	     	
	     	<a th:utext=${lodge.linfo}></a>
	     	
	     	</div>
	    </div>
	    </div>
	
	
		<div id="review" class="tab__content">


    <div id="rvCmt" class="row_txtArea">   
	<form th:action="@{|/review/rvcreate/${lodge.lnum}|}"method="post"> 
            <label for="comment">작성 글자 제한</label>
            <span class="ipt_msg txtLen" id="ipt_msg_txtLen"><strong>0</strong>/200</span>
            <textarea id="comment" name="rcontent" autocomplete="off"></textarea>          
        <input type="submit" value="리뷰등록">
    </form>
    </div>


등록된 리뷰 보기

<div id="comments-list">

	<th:block th:each="review : ${lodge.reviewList}">
  
			[[${review.rnum}]] _ [[${review.username}]] _ [[${review.rcontent}]]<br>

	</th:block>

</div> 






<!-- <!-- 댓글 섹션 시작 
            <section id="comments-section" th:style="'margin-top: 20px;'">
                <div id="comments-container">
                    댓글 목록이 여기에 동적으로 추가될 것입니다.
                    <table class="table">
                        <thead>
                        <tr><th>Comments</th></tr>
                        </thead>
                        <tbody>
                        각 댓글을 표 형식으로 표시
                        <tr th:each="reviews : ${rcontent}">
                            <td th:text="${review.rcontent}"></td> 댓글 내용
                            <td th:text="${review.username}"></td> 댓글 작성자
                        </tr>
                        </tbody>
                    </table>
                </div>
                댓글 작성 폼
                <form id="comment-form">
                    <div class="form-group">
                        <label for="comment">댓글 추가:</label>
                        <textarea class="form-control" id="rcontent" rows="3"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" id="create-comment-btn">댓글 작성</button>
                </form>
            </section>
<!-- 댓글 섹션 끝 -->  
            
            


</div>



	<div id="notice" class="tab__content">
	
						 <div class="mt-2.5">
         				 <div id="message" rows="4" class="block w-full rounded-md border-0 px-3.5 py-2 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">[[${lodge.notice}]]</div>
        			</div></div>
</div>




</div>
</div>

</div>
</div>



<script id="rendered-js">
// 1. 탭 버튼과 탭 내용 부분들을 querySelectorAll을 사용해 변수에 담는다.
const tabItem = document.querySelectorAll(".tab__item");
const tabContent = document.querySelectorAll(".tab__content");

// 2. 탭 버튼들을 forEach 문을 통해 한번씩 순회한다.
// 이때 index도 같이 가져온다.
tabItem.forEach((item, index) => {
  // 3. 탭 버튼에 클릭 이벤트를 준다.
  item.addEventListener("click", e => {
    // 4. 버튼을 a 태그에 만들었기 때문에, 
    // 태그의 기본 동작(링크 연결) 방지를 위해 preventDefault를 추가한다.
    e.preventDefault(); // a 

    // 5. 탭 내용 부분들을 forEach 문을 통해 한번씩 순회한다.
    tabContent.forEach(content => {
      // 6. 탭 내용 부분들 전부 active 클래스를 제거한다.
      content.classList.remove("active");
    });

    // 7. 탭 버튼들을 forEach 문을 통해 한번씩 순회한다.
    tabItem.forEach(content => {
      // 8. 탭 버튼들 전부 active 클래스를 제거한다.
      content.classList.remove("active");
    });

    // 9. 탭 버튼과 탭 내용 영역의 index에 해당하는 부분에 active 클래스를 추가한다.
    // ex) 만약 첫번째 탭(index 0)을 클릭했다면, 같은 인덱스에 있는 첫번째 탭 내용 영역에 active 클래스가 추가된다.
    tabItem[index].classList.add("active");
    tabContent[index].classList.add("active");
  });
});
</script>

</body>
</html>
