<!-- 생산자 : 이진호 -->
<html layout:decorate="~{layout}">
<div layout:fragment="content">

	<div class="hero">
    	<div class="container">
      		<div class="row align-items-center">
        		<div class="col-lg-6 mx-auto text-center">
		          <div class="intro-wrap">
					<h1 class="mb-0">프로필</h1>
		          </div>
        		</div>
      		</div>
    	</div>
  	</div>
	
	


    <h1 th:text="${member.username}">사용자 이름</h1>
    <p th:text="${member.maddr}">이메일</p>
    <p th:text="${member.mdate}">가입일</p>


	
	</div>

</html>