<!-- 생산자 : 이진호 -->
<html layout:decorate="~{layout}">
<div layout:fragment="content">

	<!-- 네이버 로그인용 -->
	<script type="text/javascript"
			src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
			charset="utf-8"></script>
	<script type="text/javascript"
			src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- 카카오 로그인용 -->
	<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
	
  <div class="hero hero-inner">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 mx-auto text-center">
          <div class="intro-wrap">
            <h1 class="mb-0">로그인 페이지</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <form action="/signin" method="post">
  <div class="centered-container mt-5 mb-5">
  
        <div class="centered-div" style="width:500px;">
        
        	<div class="text-center mt-2 mb-7">
            	<h3 class="text-body-highlight">로그인</h3>
            </div>
            
            <div class="position-relative">
            	<hr class="bg-body-secondary mt-4 mb-3" />
            </div>
                    
            <!-- 소셜 로그인 버튼 -->
            <div style="display: flex; justify-content: center; align-items: center;">
			    <div id="naver_id_login"></div>
			    <a href="javascript:kakaoLogin()" style="margin-left: 15px;">
			        <img src="/images/kakaoLogin.jpg" style="width:210px;">
			    </a>
			</div>
			
            <div class="position-relative">
            	<hr class="bg-body-secondary mt-3 mb-4" />
            </div>
            
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            
            <div class="mb-3 text-start">
	            <div class="form-icon-container">
	            	<input class="form-control form-icon-input" name="username" type="email" placeholder="이메일" /><span class="fas fa-user text-body fs-9 form-icon"></span>
	            </div>
            </div>
            
            <div class="mb-3 text-start">
	            <div class="form-icon-container">
            		<input class="form-control form-icon-input" name="password" type="password" placeholder="비밀번호" /><span class="fas fa-key text-body fs-9 form-icon"></span>
	            </div>
            </div>
            
			<div class="mb-3 text-start" style="display: flex; justify-content: center; align-items: center;">
				|
			    <a href="/member/idsearch" style="color: black; text-decoration: none; text-align: center; width: 115px;">아이디 찾기</a>
			    |
			    <a href="/member/signup" style="color: black; text-decoration: none; text-align: center; width: 115px;">회원 가입</a>
			    |
			</div>
            
            <input type="submit" class="btn btn-primary w-100 mb-3" value="로그인">
            
          </div>
        </div>
    </form>  
	
	<!-- 네이버 로그인 버튼 노출 영역-->
	<script type="text/javascript">
	 	var naver_id_login = new naver_id_login("kz1RZYtgb9yp8QMx5Txp", "https://www.feststay.site/naverlogin"); // (네이버 Client ID, 네이버 Callback URL)
	 	var state = naver_id_login.getUniqState();
	 	naver_id_login.setButton("green", 3, 45); //(버튼 색깔, 형태, 사이즈 설정)
	 	naver_id_login.setDomain("https://www.feststay.site"); // (네이버 Service URL)	
	 	naver_id_login.setState(state);
	 	//naver_id_login.setPopup();
	 	naver_id_login.init_naver_id_login();
	</script>
	<!-- 카카오 로그인 버튼 노출 영역 -->
	<script>
		Kakao.init("95c57d568b957b98d5279123eed121b2"); // (카카오 앱 키)
	  	
		function kakaoLogin() {
			window.Kakao.Auth.login({
				// 개발자 사이트에서 체크한 항목들과 반드시 일치해야 한다. 
				scope:'account_email',
				success: function (authObj) {window.Kakao.API.request({url:'/v2/user/me',
					success:res => {const kakaoAccount = res.kakao_account;
					location.href='/logincheck?email=' + kakaoAccount.email;}
					});
				}
			});
		}
	</script>
    
</div>
</html>
