<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh; /* 화면 높이의 100% */
        }
    </style>

    
        <div class="hero hero-inner">
            <div class="center">
                <a href="/">
                    <img src="/images/500.jpg" height="1000px">
                </a>
            </div>
        </div>
    </div>

</html>
