<html layout:decorate="~{admin}">
  <div layout:fragment="content">
    
    
    
    <div class="weather-container" id="weather">
        <!-- JavaScript가 날씨 정보를 여기에 채웁니다. -->
    </div>

    <script>
        const apiKey = '5ff8c43ab091680fc5bd47b9cb787090';  // OpenWeatherMap에서 발급받은 API 키
        const city = 'Daegu';  // 날씨를 확인할 도시
        const url = `https://api.openweathermap.org/data/2.5/weather?q=Daegu&appid=5ff8c43ab091680fc5bd47b9cb787090&units=metric`;

        // API 호출
           fetch(url)
        .then(response => response.json())  // JSON 형식으로 응답을 받음
        .then(data => {
            console.log(data);  // 날씨 데이터를 확인하고 싶을 때 콘솔에 출력
            const weatherDescription = data.weather[0].description;  // 날씨 설명
            const temperature = data.main.temp;  // 온도 정보
            const iconCode = data.weather[0].icon;  // 날씨 아이콘 코드
            const weatherIconUrl = `https://openweathermap.org/img/wn/${iconCode}@2x.png`;  // 아이콘 URL

            document.getElementById('weather').innerHTML = `
                <h2>${city}</h2>
                <img src="${weatherIconUrl}" alt="${weatherDescription}">
                <p class="temperature">${temperature}°C</p>
                <p class="description">${weatherDescription}</p>
            `;
        })
        .catch(error => console.error('Error:', error));  // 오류 처리
</script>

    
  </div>
</html>
