<!-- 서승환 -->
<html layout:decorate="~{admin}">
<div layout:fragment="content">

<h4>관리자용 메뉴</h4>
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link" href="/admin/userconfig">사용자 관리</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/festivalconfig">축제 게시물 관리</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
  </li>
</ul>

</div>
</html>